<div style="max-width: 500px; margin: auto;">
  <h2>Angular Quiz</h2>

  <div *ngFor="let q of questions; let i = index">
    <p><strong>{{ i + 1 }}. {{ q.question }}</strong></p>

    <label *ngFor="let option of q.options" style="display:block;">
      <input
        type="radio"
        name="question{{i}}"
        [value]="option"
        [(ngModel)]="userAnswers[i]"
      />
      {{ option }}
    </label>
    <hr />
  </div>

  <button (click)="submitQuiz()">Submit</button>

  <h3 *ngIf="submitted">
    Your Score: {{ score }} / {{ questions.length }}
  </h3>
</div>
